(
    types: [
        (
            layers: [
                (texture: "textures/BaseAnimAberrationSheet.png", columns: 3),
                (texture: "textures/GreenFace.png", columns: 4),
            ],
        ),
    ]
)
